* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#product-form {
    font-size: 50px;
}
.custome {
    padding: 10px;
    border-radius: 12px;
}
#btn {
    padding: 10px;
    border-radius: 12px;
    background-color: rgb(73, 183, 183);
    color: white;
    border: none;
    font-weight: 500;
}
#btn:hover {
    transform: translateY(-10px);
    transition: all 0,05ms ease-in ;
    box-shadow: 2px 4px 3px rgba(0, 255, 255, 0.164);
    background-color: black;
}